* {
  font-family: 'Poiret One', 'Montserrat';
}

.navbar-brand img{
  width: 80px;
}

.container-fluid{
  background-color: #feac00;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.smoothies {
  padding-top: 0;
  margin-top: 0;
}

.hero {
  grid-template-columns: auto;
}
.image {
  width: 100%;
}

.menu {
  justify-content: center;
  margin: 0 auto;
  padding: 0 auto;
}

.card {
  border: 1px solid #000;
}

.card:not(:has(*[style*="background-color"])) {
  border: none; /* Remove border for cards without background color */
}

.card-body{
  border-top-left-radius: 30px; 
  border-top-right-radius: 30px;
  background-color: #cedbeb;
}

.menu-img {
  background-color: #fdf3d8;
}