* {
  font-family: 'Poiret One', 'Montserrat';
}

.navbar-brand img{
  width: 80px;
}

.container-fluid{
  background-color: #feac00;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.smoothies {
  padding-top: 0;
  margin-top: 0;
}


.menu {
  justify-content: center;
  margin: 0 auto;
  padding: 0 auto;
}

.card {
  border: 1px solid #000;
}

.card:not(:has(*[style*="background-color"])) {
  border: none; /* Remove border for cards without background color */
}

.card-body{
  border-top-left-radius: 30px; 
  border-top-right-radius: 30px;
  background-color: #cedbeb;
}

.menu:hover .menu-img{
  background-color: #e2fbc4;
}

.menu-img {
  background-color: #fdf3d8;
}

.socials {
  display: flex; /* Display icons in a row */
  justify-content: center; /* Center align icons horizontally */
}

.social-icons {
  margin-top: 10px; /* Add margin between icons and heading */
}

.social-icons a {
  margin-right: 10px; /* Add margin between icons */
}

.social-icons a:last-child {
  margin-right: 0; /* Remove margin from last icon */
}


.pt-0,
.mt-0,
.mb-0,
.pb-0 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.hero-container {
  position: relative;
  overflow: hidden;
}

.wave-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.hero {
  position: relative;
  z-index: 2;
}

.image {
  max-width: 100%;
}

